<div style="height:40vh;background: whitesmoke;" class="nodata">
    <div class="no_record_wrapper">
       <div class="no_record_subtext">No records match your specified criteria!</div>
       <a elname="zc-showAddFormEl" class="zc-live-primary-btn btn-big">Add a Record</a><span style="color:#aaa;">or</span><a class="zc-importdata-report" onclick="$.fn.showImportData('hotel-management','Check_In_Details_Form','Check_In_History')">Import</a>
       <div style="display:none;" zc_criteria="" critstr="" serverprefix="https://creatorapp.zoho.com" scheme="https" exportserverprefix="creatorexport.zoho.com" publicserver="" isicalenable="false" isicalfeedfeatureallowed="true" isexportenable="false" isviewexportfeatureallowed="true" privatelink="" elname="zc-linkinfo-div"></div>
       <ul class="vieweditdrpdwn" elname="zc-moreRecMenuActionFloat" style="display:none">
          <li zcrecacttype="FloatMenu_Single"><a href="javascript:;" class="zc_transition link" reclinkid="" elname="zc-showEditFormEl">Edit</a></li>
          <li zcrecacttype="FloatMenu_Single"><a href="javascript:;" reclinkid="" class="zc_transition link" elname="zc-duplicateRecordEl">Duplicate</a></li>
          <li zcrecacttype="FloatMenu_Single"><a href="javascript:;" class="zc_transition link" reclinkid="" elname="zc-deleteRecordEl">Delete</a></li>
       </ul>
       <ul class="vieweditdrpdwn" elname="zc-moreRecActionFloat" style="display:none">
          <li zcrecacttype="FloatMenu_Single"><a href="javascript:;" class="zc_transition link" reclinkid="" elname="zc-showEditFormEl">Edit</a></li>
          <li zcrecacttype="FloatMenu_Single"><a href="javascript:;" class="zc_transition link" reclinkid="" elname="zc-deleteRecordEl">Delete</a></li>
          <li zcrecacttype="FloatMenu_Bulk" style="padding-left:10px;"><a href="javascript:;" class="zc_transition link" elname="zc-deleteRecordEl">Delete</a></li>
          <li zcrecacttype="FloatMenu_Single"><a href="javascript:;" reclinkid="" class="zc_transition link" elname="zc-duplicateRecordEl">Duplicate</a></li>
          <li zcrecacttype="FloatMenu_Bulk" style="padding-left:10px;"><a href="javascript:;" class="zc_transition link" elname="zc-duplicateRecordEl">Duplicate</a></li>
          <li zcrecacttype="FloatMenu_Single"><a href="javascript:;" class="zc_transition link" reclinkid="" elname="zc-showRecordEl">View Record</a></li>
          <li zcrecacttype="FloatMenu_Single"><a href="" class="zc_transition link" target="_blank" elname="zc-printViewEl">Print</a></li>
          <li zcrecacttype="FloatMenu_select"><a href="javascript:;" reclinkid="" class="link" elname="zc-selectRecordEl">Select this Record</a></li>
          <li zcrecacttype="FloatMenu_selectAll"><a href="javascript:;" elname="zc-selecAllRecordEl" class="link">Select All Records</a></li>
          <li zcrecacttype="FloatMenu_deselect"><a href="javascript:;" reclinkid="" class="link" elname="zc-deSelectRecordEl">Deselect this Record</a></li>
          <li zcrecacttype="FloatMenu_deselectall"><a href="javascript:;" elname="zc-deselectAllRecordEl" class="link">Deselect All Records</a></li>
       </ul>
    </div>
 </div>