
<div class="parent container flex-row-wrap-gap-10">
    <app-custom-alert
    [show]="showAlert"
    [message]="alertMessage"
    [duration]="alertDuration"
    [backgroundColor]="alertBackgroundColor"
    ></app-custom-alert>
    <h4>Generate Service Bill</h4>
    <div class="form-container">
      <form (ngSubmit)="onSubmit()" #serviceBillForm="ngForm" novalidate>
        <div class="col-12 flex-row-40">
          <div class="col-6">
            <div class="text-controls">
              <label for="check_in">Date <span class="fieldMandate">*</span></label>
              <input  [(ngModel)] ="serviceBill.bill_date" name="bill_date" autocomplete="off"  class="form-control" type="datetime-local">
            </div>
            <div class="text-controls">
              <label for="room">Room <span class="fieldMandate">*</span></label>
              <select  [(ngModel)]="serviceBill.room" name="room" class="form-select">
                <option  *ngFor="let room of rooms;" value="{{room.id}}">{{room.room_no}}</option>
              </select>
            </div>
            <div class="controls">
              <label for="service">Service <span class="fieldMandate">*</span></label>
              <select (change)="loadService($event)" [(ngModel)]="serviceBill.service" name="service" class="form-select">
                <option *ngFor="let service of services;" value="{{service.id}}">{{service.name}}</option>
              </select>
            </div>
            <div class="text-controls">
            <label for="charge">Rate <span class="fieldMandate">*</span></label>
            <input [(ngModel)]="serviceBill.rate" value="{{loadedService.rate}}" name="charge" type="text" class="form-control" />
            </div>
            <div class="text-controls">
            <label for="tax_amount">Tax Amount <span class="fieldMandate">*</span></label>
            <input type="number" [(ngModel)]="serviceBill.tax_amount" name="tax_amount" class="form-control"/>
            
            </div>
            
            
          </div>
          <div class="col-6">
            
            
            
            <div class="text-controls">
              <label for="prepaid_amount">Prepaid Amount <span class="fieldMandate">*</span></label>
              <input [(ngModel)]="serviceBill.prepaid_amount" name="prepaid_amount" type="number" class="form-control"/>
            
            </div>
            <div class="text-controls">
                <label for="grand_total">Grand Total <span class="fieldMandate">*</span></label>
                <input [(ngModel)]="serviceBill.grand_total" name="grand_total" type="number" class="form-control"/>
              
              </div>
              <div class="text-controls">
                <label class="spinner-label form-label"><span class="zc-label-text">Contact (optional but advised)</span></label>
                    <select  [(ngModel)] ="serviceBill.contact" name="contact" id="contact" class="form-select col-6">
                      <option value="{{contact.id}}" *ngFor="let contact of contacts;">{{contact.firstname}} {{contact.middlename}} {{contact.lastname}}</option>
                    </select>
             </div> 

            <div style="margin-bottom: 100px;" class="controls">
                <label for="details">Details<span class="fieldMandate">*</span></label>
                <textarea [(ngModel)]="serviceBill.details" style="height: 150px;" name="details"  class="form-control" ></textarea>
              </div>
   
            
          </div>
        </div>
        <div>
          <button style="padding-left:70px" type="submit" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
      <p class="signup"><b>Already have an staff? <a style="color:rgb(225 31 64);" href="/root/configurations/staff-list">View Staff!</a></b></p>
    </div>
    <div class="overlay" *ngIf="showSpinner">
        <div class="spinner"></div>
    </div>
  </div>

  
  