td{
    color:black!important;
}

th{
    font-weight: 500;
}

.table-wrapper{
    
    min-height:70vh;
    
}

td.active-zone{
    background: rgb(232, 237, 239);
}

.form-header{
    margin-bottom: 20px;
    padding: 0 0 0 0!important;
    height:50px;
}

.form-title{
    padding-left: 0px!important;
}

.zc-add-comments-placeholder {
    color: #8E97A0;
    position: absolute;
    left: 20px;
    top: 70px;
    pointer-events: none;
    font-size: 13px;
}

.create-staff{
    color:white!important;
    background: rgb(225 31 64)!important;
    width:120px;
    margin-bottom: 0px;
    margin-left:10px;
    height:50px;
}

.parent {
    position: relative; /* Ensure the overlay is positioned relative to this container */
    margin-top: 20px;
    margin-bottom: 60px!important;
  }
  
  .overlay {
    position: absolute; /* Position the overlay absolutely within the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay is above other content */
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light white border for the spinner */
    border-top: 4px solid #ffffff; /* White top border for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


  /* Styles for the overlay */
.modal-overlay {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index:4000!important;
  }
  
  /* Styles for the modal */
  .modal {
    width: 90%!important;
    display: flex!important;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    height: 84%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-left: 5%;
    margin-top: 70px;
}
  
  /* Button to close the modal */
  .close-modal {
    margin-top: 10px;
    font-size: 30px;
    color:red;
    background: transparent;
    margin-left: 30px;
  }

  .no-commentary{
    font-weight: 200;
    font-size: 18px;
    width:100%!important;
    text-align: center;
    margin-top: 70px;
  }
  

  .pill{
    width:150px;
    height:55px;
    border-radius: 40px;
    background: rgb(236, 166, 177);
    color:white;
  }

  .pill-text{
    height:20px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px!important;
  }

  .tiny-spinner {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  

  label{
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 10px;
  }

  .cap{
    font-size: 13px;
    text-transform: uppercase;
  }

  .rooms-nav{
    align-items: start;
    justify-content:center!important;
    font-weight:900!important;
    font-size: 18px;
    background: whitesmoke!important;
    height:60vh
  }

  .print{
    height:45px!important;
  }

  .room-header{
    background:whitesmoke;
    height:50px;
    align-items:center;
    display:flex;
    border-radius: 3px;
    padding-left:20px;
  }

  .dot{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: #364a63;;
  }