<!-- <p>rooms works!</p>
<div elname="zc-component-Reservation" class="parent container zcform_Reservation zc-form-fullheight ">
   <div>
      <app-custom-alert
      [show]="showAlert"
      [message]="alertMessage"
      [duration]="alertDuration"
      [backgroundColor]="alertBackgroundColor"
      ></app-custom-alert>
      <div id="Reservation_ZC_LRKT9Y" class="form-outer-wrapper">
         <div class="row">
            <form action="" class="form-table  label-left " name="Staff">
               <div class="form-header flex-end">
                  <span style="text-align: left;" class="form-title col-3" id="formTitleElem">Rooms</span>
                  <input type="text" placeholder="Enter either a name, email or phone number to search" class="form-control search-input"/>
                  <a id="Staffs" class="create-staff btn btn-outline-primary col-2" href="/root/rooms/create-room">Create Room</a>
               </div>
               <div class="table-wrapper" style="max-height: 50vh;overflow-y: scroll;">
                  <table style="background: white;" class="data-table-init is-seperate table-dark table-striped nk-tb-list">
                     <thead class="table-light">
                        <th class="nk-tb-col">Room No</th>
                        <th class="nk-tb-col">Room Type</th>
                        <th class="nk-tb-col">Occupied</th>
                        <th class="nk-tb-col">Occupant Firstname</th>
                        <th class="nk-tb-col">Occupant Lastname</th>
                        <th class="nk-tb-col">Occupant Phone</th>
                        <th class="nk-tb-col">Bookable</th>
                        <th class="nk-tb-col">Floor Name</th>
                        <th class="nk-tb-col">Floor No</th>
                        <th class="nk-tb-col">Dial No</th>
                        <th class="nk-tb-col">Bed Type</th>
                        <th class="nk-tb-col">Maintainance</th>
                        <th></th>
                     </thead>
                     <tbody>
                        <tr class="nk-tb-item" *ngFor="let room of rooms">
                           <td style="font-weight: 600;font-size:17px;color:black!important;" class="nk-tb-col active-zone pointer"><b>{{room.room_no}}</b></td>
                           <td style="font-weight: 600;font-size:17px;color:black!important;" class="nk-tb-col active-zone pointer"><b>{{room.room_type.name}}</b></td>
                           <td *ngIf="room.is_occupied" class="nk-tb-col pointer"><b>YES</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.occupant.firstname}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.occupant.lastname}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.occupant.phone}}</b></td>
                           <td *ngIf="!room.is_occupied" class="nk-tb-col pointer"><b>NO</b></td>
                           <td *ngIf="room.is_available" class="nk-tb-col pointer"><b>YES</b></td>
                           <td *ngIf="!room.is_available" class="nk-tb-col pointer"><b>NO</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.floor.floor_name}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.floor.floor_no}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.dial_no}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.room_type.bed_type.name}}</b></td>
                           <td class="nk-tb-col pointer"><b>NO</b></td>
                           <td>
                              <div class="nk-tb-col nk-tb-col-tools">
                                 <ul class="nk-tb-actions gx-2">
                                    <li class="nk-tb-action-hidden"><a  href="/root/configurations/edit-staff?uid=" class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label="Wallet"><em class="icon ni ni-edit-fill"></em></a></li>
                                    <li class="nk-tb-action-hidden"><a  href="javascript:;" class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Commentary" aria-label="Wallet"><em class="icon ni ni-comments"></em></a></li>
                                    <li class="nk-tb-action-hidden"><a href="mailto:" class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Send Email" aria-label="Send Email"><em class="icon ni ni-mail-fill"></em></a></li>
                                    <li class="nk-tb-action-hidden"><a  href="javascript:;" class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Suspend" aria-label="Suspend"><em class="icon ni ni-user-cross-fill"></em></a></li>
                                    <li>
                                       <div class="drodown">
                                          <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                          <div class="dropdown-menu dropdown-menu-end">
                                             <ul class="link-list-opt no-bdr">
                                                <li><a id="" href="javascript:;" ><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                <li><a  href="/root/configurations/edit-staff?uid="><em class="icon ni ni-edit-fill"></em><span>Edit</span></a></li>
                                                <li class="divider"></li>
                                                <li><a  href="javascript:;"><em class="icon ni ni-comments"></em><span>Show Commentary</span></a></li>
                                                <li>
                                                   <a href="javascript:;" ><em class="icon ni ni-archive-fill"></em><span>Archive Staff</span></a>
                                                </li>
                                                <li><a  href="javascript:;"><em class="icon ni ni-cross"></em><span >Mark Sacked</span><span >Mark Employed</span></a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <app-pagination (dataEvent)="receivePaginationData($event)"></app-pagination>
            </form>
         </div>
      </div>
      <app-spinner *ngIf="showSpinner"></app-spinner>
   </div>
</div> -->


<div id="rooms-root" class="nk-content ">
   <div class="container-fluid">
      <div class="nk-content-inner">
         <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
               <div class="nk-block-between">
                  <div class="nk-block-head-content">
                     <h3 class="nk-block-title page-title">Roxandrea Rooms</h3>
                     <div class="nk-block-des text-soft">
                        <p>You have total 40 room's.</p>
                     </div>
                  </div>
                  <div class="nk-block-head-content">
                     <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                           <ul class="nk-block-tools g-3">
                              <li><input style="width:35vh" type="text" placeholder="Search for something" class="form-control"/></li>
                              <li><a href="#" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                              <li class="nk-block-tools-opt">
                                 <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                       <ul class="link-list-opt no-bdr">
                                          <li><a href="booking-add.html"><span>Add Booking</span></a></li>
                                          <li><a href="#"><span>Import Booking</span></a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="nk-block">
               <div  class="card card-bordered card-stretch">
                  <div class="card-inner-group">
                     <div class="card-inner position-relative card-tools-toggle">
                        <div class="card-title-group">
                           <div class="card-tools">
                              <div class="form-inline flex-nowrap gx-3">
                                 <div class="form-wrap w-150px">
                                    <select class="form-select js-select2 js-select2-sm" data-search="off" data-placeholder="Bulk Action">
                                       <option value="">Bulk Action</option>
                                       <option value="email">Send Email</option>
                                       <option value="delete">Delete Booking</option>
                                    </select>
                                 </div>
                                 <div class="btn-wrap"><span class="d-none d-md-block"><button class="btn btn-dim btn-outline-light disabled">Apply</button></span><span class="d-md-none"><button class="btn btn-dim btn-outline-light btn-icon disabled"><em class="icon ni ni-arrow-right"></em></button></span></div>
                              </div>
                           </div>
                           <div class="card-tools me-n1">
                              <ul class="btn-toolbar gx-1">
                                 <li><a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a></li>
                                 <li class="btn-toolbar-sep"></li>
                                 <li>
                                    <div class="toggle-wrap">
                                       <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                       <div class="toggle-content" data-content="cardTools">
                                          <ul class="btn-toolbar gx-1">
                                             <li class="toggle-close"><a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-arrow-left"></em></a></li>
                                             <li>
                                                <div class="dropdown">
                                                   <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                                      <div class="dot dot-primary"></div>
                                                      <em class="icon ni ni-filter-alt"></em>
                                                   </a>
                                                   <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                                      <div class="dropdown-head">
                                                         <span class="sub-title dropdown-title">Filter Bookings</span>
                                                         <div class="dropdown"><a href="#" class="btn btn-sm btn-icon"><em class="icon ni ni-more-h"></em></a></div>
                                                      </div>
                                                      <div class="dropdown-body dropdown-body-rg">
                                                         <div class="row gx-6 gy-3">
                                                            <div class="col-12">
                                                               <div class="custom-control custom-control-sm custom-checkbox"><input type="checkbox" class="custom-control-input" id="hasEmail"><label class="custom-control-label" for="hasEmail"> Email Verified</label></div>
                                                            </div>
                                                            <div class="col-6">
                                                               <div class="form-group">
                                                                  <label class="overline-title overline-title-alt">Status</label>
                                                                  <select class="form-select js-select2 js-select2-sm">
                                                                     <option value="any">Any Status</option>
                                                                     <option value="paid">Paid</option>
                                                                     <option value="due">Due</option>
                                                                  </select>
                                                               </div>
                                                            </div>
                                                            <div class="col-6">
                                                               <div class="form-group">
                                                                  <label class="overline-title overline-title-alt">Room Type</label>
                                                                  <select class="form-select js-select2 js-select2-sm">
                                                                     <option value="any">Any Type</option>
                                                                     <option value="single">Single</option>
                                                                     <option value="double">Double</option>
                                                                     <option value="delux">Delux</option>
                                                                     <option value="sdelux">Super Delux</option>
                                                                  </select>
                                                               </div>
                                                            </div>
                                                            <div class="col-12">
                                                               <div class="form-group"><button type="button" class="btn btn-secondary">Filter</button></div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="dropdown-foot between"><a class="clickable" href="#">Reset Filter</a><a href="#">Save Filter</a></div>
                                                   </div>
                                                </div>
                                             </li>
                                             <li>
                                                <div class="dropdown">
                                                   <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-setting"></em></a>
                                                   <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                                      <ul class="link-check">
                                                         <li><span>Show</span></li>
                                                         <li class="active"><a href="#">10</a></li>
                                                         <li><a href="#">20</a></li>
                                                         <li><a href="#">50</a></li>
                                                      </ul>
                                                      <ul class="link-check">
                                                         <li><span>Order</span></li>
                                                         <li class="active"><a href="#">DESC</a></li>
                                                         <li><a href="#">ASC</a></li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="card-search search-wrap" data-search="search">
                           <div class="card-body">
                              <div class="search-content"><a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a><input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email"><button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button></div>
                           </div>
                        </div>
                     </div>
                     <div style="max-height: 58vh;overflow-y: auto;" class="card-inner p-0">
                        <div class="nk-tb-list nk-tb-ulist">
                           <div class="nk-tb-item nk-tb-head">
                              <div class="nk-tb-col nk-tb-col-check">
                                 <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid"><label class="custom-control-label" for="uid"></label></div>
                              </div>
                              

                              <div class="nk-tb-col"><span class="sub-text">Room No</span></div>
                              <div class="nk-tb-col tb-col-md"><span class="sub-text">Room Type</span></div>
                              <div class="nk-tb-col tb-col-mb"><span class="sub-text">Occupied</span></div>
                              <div class="nk-tb-col tb-col-mb"><span class="sub-text">Occupant Firstname</span></div>
                              <div class="nk-tb-col tb-col-lg"><span class="sub-text">Occupant Lastname</span></div>
                              <div class="nk-tb-col tb-col-lg"><span class="sub-text">Occupant Phone</span></div>
                              <div class="nk-tb-col tb-col-md"><span class="sub-text">Bookable</span></div>
                              <div class="nk-tb-col tb-col-lg"><span class="sub-text">Floor Name</span></div>
                              <div class="nk-tb-col tb-col-lg"><span class="sub-text">Telephone</span></div>
                              <div class="nk-tb-col tb-col-lg"><span class="sub-text">Occupant Phone</span></div>
                              <div class="nk-tb-col tb-col-lg"><span class="sub-text">Bed Type</span></div>
                              <div class="nk-tb-col tb-col-lg"><span class="sub-text">Maintainance</span></div>

                              <div class="nk-tb-col nk-tb-col-tools text-end">
                                 <div class="dropdown">
                                    <a href="#" class="btn btn-xs btn-outline-light btn-icon dropdown-toggle" data-bs-toggle="dropdown" data-offset="0,5"><em class="icon ni ni-plus"></em></a>
                                    <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                       <ul class="link-tidy sm no-bdr">
                                          <li>
                                             <div class="custom-control custom-control-sm custom-checkbox"><input type="checkbox" class="custom-control-input" checked="" id="bo"><label class="custom-control-label" for="bo">Booking</label></div>
                                          </li>
                                          <li>
                                             <div class="custom-control custom-control-sm custom-checkbox"><input type="checkbox" class="custom-control-input" checked="" id="ph"><label class="custom-control-label" for="ph">Phone</label></div>
                                          </li>
                                          <li>
                                             <div class="custom-control custom-control-sm custom-checkbox"><input type="checkbox" class="custom-control-input" id="pay"><label class="custom-control-label" for="pay">Payment</label></div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>

                          
                           <ng-container *ngFor="let room of rooms">
                              <div style="white-space:nowrap;" class="active-zone pointer" class="nk-tb-item">
                                 <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext"><input type="checkbox" class="custom-control-input" id="uid10"><label class="custom-control-label" for="uid10"></label></div>
                                 </div>
                                 
                                 <div class="nk-tb-col">
                                    <a href="#">
                                       <div class="user-card">
                                          <div class="user-avatar bg-danger"><span>{{room.room_no}}</span></div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="nk-tb-col tb-col-mb"><span>{{room.room_type.name}}</span></div>
                                 <div *ngIf="room.is_occupied" class="nk-tb-col tb-col-md"><span class="tb-status text-success pointer ">YES</span></div>
                                 <div *ngIf="!room.is_occupied" class="nk-tb-col tb-col-md"><span class="tb-status text-warning pointer ">NO</span></div>
                                 <div class="nk-tb-col tb-col-mb"><span>{{room.occupant.firstname}}</span></div>
                                 <div class="nk-tb-col tb-col-md"><span class="tb-status text-primary">{{room.occupant.lastname}}</span></div>
                                 <div class="nk-tb-col tb-col-lg"><span>{{room.occupant.phone}}</span></div>
                                 <!-- <div class="nk-tb-col tb-col-lg"><span>{{reservation.check_out}}</span></div> -->
                                 <div *ngIf="!room.is_occupied" class="nk-tb-col tb-col-md"><span class="tb-status text-warning">NO</span></div>
                                 <div *ngIf="room.is_occupied" class="nk-tb-col tb-col-md"><span class="tb-status text-success">YES</span></div>
                                 <div *ngIf="!room.is_available" class="nk-tb-col tb-col-md"><span class="tb-status text-warning">NO</span></div>
                                 <div class="nk-tb-col tb-col-lg"><span>{{room.floor.floor_name}}</span></div>
                                 <div class="nk-tb-col tb-col-lg"><span>{{room.floor.floor_no}}</span></div>
                                 <div class="nk-tb-col tb-col-lg"><span>{{room.dial_no}}</span></div>
                                 <div class="nk-tb-col tb-col-lg"><span>{{room.room_type.bed_type.name}}</span></div>
                                 <div class="nk-tb-col tb-col-md"><span class="tb-status text-warning">NO</span></div>

                                 <div class="nk-tb-col nk-tb-col-tools">
                                  
                                    <ul class="nk-tb-actions gx-1">
                                       <li>
                                          <div class="drodown">
                                             <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                             <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                   <li><a href="#"><em class="icon ni ni-mail-fill"></em><span>Send Email</span></a></li>
                                                   <li><a href="booking-edit.html"><em class="icon ni ni-edit-fill"></em><span>Edit</span></a></li>
                                                </ul>
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </ng-container>
                        </div>
                     </div>
                     <div class="card-inner">
                        <div class="nk-block-between-md g-3">
                           <div class="g">
                              <app-pagination (dataEvent)="receivePaginationData($event)"></app-pagination>
                           </div>
                           <div class="g">
                              <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                 <div>Page</div>
                                 <div>
                                    <select class="form-select js-select2" data-search="on" data-dropdown="xs center">
                                       <option value="page-1">1</option>
                                       <option value="page-2">2</option>
                                       <option value="page-4">4</option>
                                       <option value="page-5">5</option>
                                       <option value="page-6">6</option>
                                    </select>
                                 </div>
                                 <div>OF 102</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="overlay" *ngIf="showSpinner">
                     <div class="spinner"></div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>
<div class="nk-footer">
   <div class="container-fluid">
      <div class="nk-footer-wrap">
         <div class="nk-footer-copyright"> &copy; 2023 DashLite. Template by <a href="https://softnio.com/" target="_blank">Softnio</a></div>
         <div class="nk-footer-links">
            <ul class="nav nav-sm">
               <li class="nav-item dropup">
                  <a href="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link" data-bs-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                  <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                     <ul class="language-list">
                        <li><a href="#" class="language-item"><span class="language-name">English</span></a></li>
                        <li><a href="#" class="language-item"><span class="language-name">Español</span></a></li>
                        <li><a href="#" class="language-item"><span class="language-name">Français</span></a></li>
                        <li><a href="#" class="language-item"><span class="language-name">Türkçe</span></a></li>
                     </ul>
                  </div>
               </li>
               <li class="nav-item"><a data-bs-toggle="modal" href="#region" class="nav-link"><em class="icon ni ni-globe"></em><span class="ms-1">Select Region</span></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>


<!-- <div style="width:600px" class="nk-add-product toggle-slide toggle-slide-right toggle-screen-any content-active" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar="init">
   <div class="simplebar-wrapper" style="margin: -24px;">
      <div class="simplebar-height-auto-observer-wrapper">
         <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
         <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden;">
               <div class="simplebar-content" style="padding: 24px;">
                  <div class="nk-block-head">
                     <div class="nk-block-head-content">
                        <h5 class="nk-block-title">Booking Details</h5>
                        <div class="nk-block-des">
                           <p>View more information about a booking.</p>
                        </div>
                     </div>
                  </div>
                  <div class="nk-block">
                     <div class="row g-3">
                        <div class="col-12">
                           <div class="form-group">
                              <label class="form-label" for="product-title">Product Title</label>
                              <div class="form-control-wrap"><input type="text" class="form-control" id="product-title"></div>
                           </div>
                        </div>
                        <div class="col-12">
                           <ul id="basic-info" style="max-height:50vh;overflow-y: auto;" class="link-list-opt">
                              <li ><div class="col-12 row g-3"><label class="col-6">Booking ID</label><a class="col-6" href="javascript:void(0)" ><span>{{loadedReservation?.reservation_token || 'N/A'}}</span></a></div></li>
                              <li ><div class="col-12 row g-3"><label class="col-6">Firstname </label><a class="col-6" href="javascript:void(0)" ><span>{{loadedReservation?.contact?.firstname || 'N/A'}}</span></a></div></li>
                              <li ><div class="col-12 row g-3"><label class="col-6">Lastname </label><a class="col-6" href="javascript:void(0)" ><span>{{loadedReservation?.contact?.lastname || 'N/A'}}</span></a></div></li>
                              <li ><div class="col-12 row g-3"><label class="col-6">Email </label><a class="col-6" href="mailto:{{loadedReservation?.contact?.email}}" ><span>{{loadedReservation?.contact?.email || 'N/A'}}</span></a></div></li>
                              <li ><div class="col-12 row g-3"><label class="col-6">Phone</label><a class="col-6" href="javascript:void(0)" ><span>{{loadedReservation?.contact?.phone || 'N/A'}}</span></a></div></li>
                              <li ><div class="col-12 row g-3"><label class="col-6">Address</label><a class="col-6" href="javascript:void(0)" ><span>{{loadedReservation?.contact?.address1 || 'N/A'}}</span></a></div></li>
                              <li ><div class="col-12 row g-3"><label class="col-6">Number of Check-Ins</label><a class="col-6" href="javascript:void(0)" ><span>{{loadedReservation?.num_checked_in || 'N/A'}}</span></a></div></li>
                              <li >
                                 <div class="col-12 row g-3"><label class="col-6">Rooms</label>
                                    <div style="background:transparent;overflow-x: auto;overflow-y: hidden;flex-wrap:wrap;margin-right: 20px;justify-content:space-evenly;" class="description row g-3">
                                       <ng-container *ngFor="let room of loadedReservation.rooms">
                                          <div style="margin-top:5px; margin-bottom: 5px;" class="pill zoom">
                                             <div>
                                                <p  class="pill-text pointer">Room {{room.room_no}} <em class="icon ni ni-edit-fill pointer"></em></p>
                                                <p (click)="checkInContacts('single',room)" *ngIf="loadedReservation.rooms.length > 1 && !room.is_checked_in" class="pill-text">Check-In</p>
                                                <p (click)="checkInContacts('single',room)" *ngIf="loadedReservation.rooms.length == 1 && !loadedReservation.is_checked_in" class="pill-text">Check-In</p>
                                             </div>
                                          </div>
                                       </ng-container>
                                       
                                    </div>
                                 </div>
                              </li>
                          </ul>
                        </div>
                        <div class="col-12"><button (click)="closeReservationDetails($event)" class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Check-In</span></button></div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="simplebar-placeholder" style="width: auto; height: 698px;"></div>
   </div>
   <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
   </div>
   <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
   </div>

</div> -->

<!-- <div class="toggle-overlay" data-target="addProduct"></div> -->



