
<div class="parent container flex-row-wrap-gap-10">
    <app-custom-alert
    [show]="showAlert"
    [message]="alertMessage"
    [duration]="alertDuration"
    [backgroundColor]="alertBackgroundColor"
    ></app-custom-alert>
    <h4 style="width:100%;justify-content: center;margin-left: 15.5vw;">Create Amenity</h4>
    <div class="form-container">
      <form (ngSubmit)="onSubmit()" #amenityForm="ngForm" novalidate>
        <div class="col-12 flex-row-40">
          <div class="col-6">
            <div class="text-controls">
              <label for="amenity">Amenity Name <span class="fieldMandate">*</span></label>
              <input [(ngModel)]="amenity.amenity" name="amenity" type="text" class="form-control" />
            </div>
            <div class="text-controls">
              <label for="charge_amount">Charge Amount <span class="fieldMandate">*</span></label>
              <input [(ngModel)]="amenity.charge_amount" name="charge_amount" type="text" class="form-control" />
            </div>
          </div>
          
        </div>
        <div>
          <button style="justify-content: center;margin-left: 14.6vw;" type="submit" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
      <p class="signup"><b>Already have an amenities? <a style="color:rgb(225 31 64);" href="/root/rooms/amenities">View amenities!</a></b></p>
    </div>
    <app-spinner *ngIf="showSpinner"></app-spinner>
  </div>

  
  