header{
    display:none!important;
}

form{
    margin:20px;
}

h4{
    color:rgb(225 31 64);
    font-size: 25px;
    margin-top: 40px;
}

label{
    margin-top:20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.forgot{
    margin-top: 10px;
}

.or{
    margin-left: 10px;
    margin-right: 10px;
}

.fingerprint{
    border: rgb(225 31 64) 1px solid;
    width:70%;
    height: 50px;
    
}

.forgot-pass{
    color:rgb(225 31 64);
}

.margin-30{
    margin:30px;
}

.flex-row-90 {
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.parent{
    width:1000px;
    background: whitesmoke;
    margin-top: 120px;
    margin-bottom: 60px!important;
    border-radius: 7px;
    border: 1px solid rgb(225 31 64);
}

.lower-auth{
    margin-top: 60px;
}

.round-social{
    width:60px;
    height:60px;
    border-radius: 50%;
}

.twitter{
    background: rgb(81, 126, 222);
}

.google{
    background: orange;
}

.fingerprint-text{
    padding-top:15px;
    color:rgb(225 31 64);
    text-align:center;
}

input{
    height:50px;
}

.hr{
    width: 38%!important;
    height:1px;
    background:rgb(209, 207, 207);
}

.flex-row-40{
    display: inline-flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
    gap:40px!important;
}

.signup{
    text-align: center;
    margin-top:20px;
    margin-bottom: 40px;
}

.submit{
    color:white;
    background: rgb(225 31 64)!important;
    width: 20%!important;
    margin-right: 50px;
    margin-top: 30px;
    height:50px;
}

.parent {
    position: relative; /* Ensure the overlay is positioned relative to this container */
  }
  
  .overlay {
    position: absolute; /* Position the overlay absolutely within the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay is above other content */
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light white border for the spinner */
    border-top: 4px solid #ffffff; /* White top border for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  