<!-- <div>
   <div id="zc_inner_nav_menu" class="pane_nav zc-dem-hide-pane full_pane_nav zc-dem-full-page-nav">
      <div class="pane_nav_menu accordion_menu zc-showAppIcons container-fixed 
         " id="pane_nav_menu">
         <ul id="zc_nav_menu">
            <li class="zc_nav_section">
               <a id="tab_Front_Desk" href="#Front_Desk" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline travel-hotel-bell" id="t4212638000000015015"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Front Desk</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="Timeline_View" href="#Report:Timeline_View">
                           <i elname="componentIcon" class="zc-li-outline tech-tv-old" id="t4212638000000015181"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Timeline View</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Reservation" href="/root/frontdesk/reservation" class="">
                           <i elname="componentIcon" class="zc-li-outline education-board-51" id="t4212638000000015183"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Reservation</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Upcoming_Check_Ins" href="/root/frontdesk/upcoming-checkins">
                           <i elname="componentIcon" class="zc-li-outline transportation-helicopter" id="t4212638000000015359"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Upcoming Check Ins</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="All_Reservations" href="#Report:All_Reservations">
                           <i elname="componentIcon" class="zc-li-outline travel-world" id="t4212638000000015367"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">All Reservations</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Active_Check_Ins" href="/root/frontdesk/active-checkins">
                           <i elname="componentIcon" class="zc-li-outline tech-2-p-check" id="t4212638000000015391"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Active Check Ins</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="zc_nav_section">
               <a id="tab_Progress" href="#Progress" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline loader-refresh" id="t4212638000000015399"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Progress</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="Today_s_Page" href="#Page:Today_s_Page">
                           <i elname="componentIcon" class="zc-li-outline ui-3-playlist" id="t4212638000000015405"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Today's Page</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Monthly_View" href="#Page:Monthly_View">
                           <i elname="componentIcon" class="zc-li-outline ui-3-playlist" id="t4212638000000015407"></i>
                           <div class="zc-nav-title"><span class="title">Monthly View</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="zc_nav_section">
               <a id="tab_Request_Handling" href="/root/request-handling/raised-complaints" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline education-award-55" id="t4212638000000015413"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Request Handling</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="New_Complaints" href="/root/request-handling/raised-complaints">
                           <i elname="componentIcon" class="zc-li-outline ui-3-playlist" id="t4212638000000015531"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">New Complaints</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Closed_Ones" href="#Report:Closed_Ones">
                           <i elname="componentIcon" class="zc-li-outline location-route-close" id="t4212638000000015535"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Closed Ones</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Shift_a_Room" href="#Form:Shift_a_Room">
                           <i elname="componentIcon" class="zc-li-outline ui-3-playlist" id="t4212638000000015539"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Shift a Room</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="zc_nav_section">
               <a id="tab_Maintenance" href="#Maintenance" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline arrows-4-block-top-right" id="t4212638000000015577"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Maintenance</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="Maintenance_Block" href="#Form:Maintenance_Block">
                           <i elname="componentIcon" class="zc-li-outline media-1-button-circle-stop" id="t4212638000000015579"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Maintenance Block</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Upcoming" href="#Report:Upcoming">
                           <i elname="componentIcon" class="zc-li-outline weather-forecast" id="t4212638000000015697"></i>
                           <div class="zc-nav-title"><span class="title">Upcoming</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="On_Going" href="#Report:On_Going">
                           <i elname="componentIcon" class="zc-li-outline shopping-mobile-card" id="t4212638000000015701"></i>
                           <div class="zc-nav-title"><span class="title">On Going</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Maintenance_History" href="#Report:Maintenance_History">
                           <i elname="componentIcon" class="zc-li-outline location-route-close" id="t4212638000000015705"></i>
                           <div class="zc-nav-title"><span class="title">Maintenance History</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Maintenance_Types" href="#Report:Maintenance_Types">
                           <i elname="componentIcon" class="zc-li-outline tech-2-pci-card" id="t4212638000000015709"></i>
                           <div class="zc-nav-title"><span class="title">Maintenance Types</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="zc_nav_section">
               <a id="tab_Service_Usage" href="#Service_Usage" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline business-payment" id="t4212638000000015715"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Billing</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="Generate_Service_Bill" href="/root/service-usage/create-invoice">
                           <i elname="componentIcon" class="zc-li-outline business-money-11" id="t4212638000000015817"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Generate Service Bill</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Add_Amenities_Bill" href="#Form:Add_Amenities_Bill">
                           <i elname="componentIcon" class="zc-li-outline ui-1-bold-add" id="t4212638000000015939"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Add Amenities Bill</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Service_Bills" href="/root/service-usage/service-bills-list">
                           <i elname="componentIcon" class="zc-li-outline business-money-12" id="t4212638000000016049"></i>
                           <div class="zc-nav-title"><span class="title">Service Bills</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Additional_Amenities_Bills1" href="#Report:Additional_Amenities_Bills1">
                           <i elname="componentIcon" class="zc-li-outline design-bullet-list-67" id="t4212638000000016053"></i>
                           <div class="zc-nav-title"><span class="title">Additional Amenities Bills</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="zc_nav_section">
               <a id="tab_Contacts" href="#Contacts" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline users-single-04" id="t4212638000000016061"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Contacts</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="Add_Guest" href="#Form:Add_Guest" class="">
                           <i elname="componentIcon" class="zc-li-outline design-2-3d-29" id="t4212638000000016245"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Add Guest</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Corporates" href="#Report:Corporates">
                           <i elname="componentIcon" class="zc-li-outline users-single-04" id="t4212638000000016435"></i>
                           <div class="zc-nav-title"><span class="title">Corporates</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Corporate_Guests" href="#Report:Corporate_Guests">
                           <i elname="componentIcon" class="zc-li-outline design-bullet-list-67" id="t4212638000000016525"></i>
                           <div class="zc-nav-title"><span class="title">Corporate Guests</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Other_Guests" href="#Report:Other_Guests">
                           <i elname="componentIcon" class="zc-li-outline travel-world" id="t4212638000000016529"></i>
                           <div class="zc-nav-title"><span class="title">Other Guests</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="zc_nav_section">
               <a id="tab_Payments1" href="#Payments1" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline shopping-credit-card-in" id="t4212638000000016537"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Payments</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="Add_Corporate_Payment" href="#Form:Add_Corporate_Payment">
                           <i elname="componentIcon" class="zc-li-outline shopping-mobile-card" id="t4212638000000016539"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Add Corporate Payment</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Pending_Corporate_Invoices" href="#Report:Pending_Corporate_Invoices">
                           <i elname="componentIcon" class="zc-li-outline shopping-receipt-list-42" id="t4212638000000016663"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Pending Corporate Invoices</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Other_Payments" href="#Report:Other_Payments">
                           <i elname="componentIcon" class="zc-li-outline shopping-credit-card-in" id="t4212638000000016665"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Other Payments</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Paid_Corporate_Payments" href="#Report:Paid_Corporate_Payments">
                           <i elname="componentIcon" class="zc-li-outline shopping-credit-card-in" id="t4212638000000016667"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Paid Corporate Payments</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="zc_nav_section">
               <a id="tab_Restaurant1" href="#Restaurant1" class="zc_tab zc_transition">
                  <i elname="componentIcon" class="zc-li-outline food-barbecue-15" id="t4212638000000017583"></i>
                  <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Restaurant</span></div>
                  <span class="plus"> <i class="fa fa-angle-down"></i> </span>
               </a>
               <div class="zc-pane-nav-submenu-wrapper ">
                  <ul class="zc_tab_comp pane_nav_submenu">
                     <li class="zc_nav_com ">
                        <a id="New_Order" href="#Form:New_Order">
                           <i elname="componentIcon" class="zc-li-outline users-2-child" id="t4212638000000017587"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">New Order</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Pending_Orders" href="#Report:Pending_Orders">
                           <i elname="componentIcon" class="zc-li-outline ui-2-hourglass" id="t4212638000000017743"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Pending Orders</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Awaiting_Payments" href="#Report:Awaiting_Payments">
                           <i elname="componentIcon" class="zc-li-outline shopping-cash-register" id="t4212638000000017747"></i>
                           <div class="zc-nav-title"><span class="title">Awaiting Payments</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Order_History" href="#Report:Order_History">
                           <i elname="componentIcon" class="zc-li-outline shopping-list" id="t4212638000000017751"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Order History</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="New_KOT" href="#Report:New_KOT">
                           <i elname="componentIcon" class="zc-li-outline users-2-child" id="t4212638000000017755"></i>
                           <div class="zc-nav-title"><span class="title">New KOT</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Items_In_Queue" href="#Report:Items_In_Queue">
                           <i elname="componentIcon" class="zc-li-outline shopping-cart-simple-remove" id="t4212638000000017757"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Items In Queue</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="Pending_KOT" href="#Report:Pending_KOT">
                           <i elname="componentIcon" class="zc-li-outline ui-2-hourglass" id="t4212638000000017759"></i>
                           <div class="zc-nav-title"><span class="title">Pending KOT</span></div>
                        </a>
                     </li>
                     <li class="zc_nav_com ">
                        <a id="All_Kitchen_Orders" href="#Report:All_Kitchen_Orders">
                           <i elname="componentIcon" class="zc-li-outline education-book-open" id="t4212638000000017761"></i>
                           <div class="zc-nav-title"><span class="title">All Kitchen Orders</span></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
            <li class="pane_hidden_menu">
               <a href="javascript:none;" class="hidden_menu_icon"><i class="fa fa-ellipsis-v"></i></a>
               <div class="zc-nav-hidden-menu" style="height: 90px;">
                  <ul class="hidden_menu">
                     <li class="zc_nav_section">
                        <a id="tab_Rooms" href="#Rooms" class="zc_tab zc_transition">
                           <i elname="componentIcon" class="zc-li-outline furniture-table" id="t4212638000000018671"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Rooms</span></div>
                           <span class="plus"> <i class="fa fa-angle-down"></i> </span>
                        </a>
                        <div class="zc-pane-nav-submenu-wrapper " style="left: 633.141px; top: 75px; height: 180px;">
                           <ul class="zc_tab_comp pane_nav_submenu">
                              <li class="zc_nav_com ">
                                 <a id="Type_Of_Rooms" href="/root/rooms/bedtypes">
                                    <i elname="componentIcon" class="zc-li-outline tech-2-pci-card" id="t4212638000000019105"></i>
                                    <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Bed Types</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Type_Of_Rooms" href="/root/rooms/roomtypes">
                                    <i elname="componentIcon" class="zc-li-outline tech-2-pci-card" id="t4212638000000019105"></i>
                                    <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Type Of Rooms</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Add_Room" href="/root/rooms/create-room">
                                    <i elname="componentIcon" class="zc-li-outline design-2-3d-29" id="t4212638000000018673"></i>
                                    <div class="zc-nav-title"><span class="title">Add Room</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Rooms" href="/root/rooms/rooms-list">
                                    <i elname="componentIcon" class="zc-li-outline design-2-selection" id="t4212638000000018789"></i>
                                    <div class="zc-nav-title"><span class="title">Rooms</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Room_Amenities" href="/root/rooms/amenities">
                                    <i elname="componentIcon" class="zc-li-outline travel-hotel-symbol" id="t4212638000000018793"></i>
                                    <div class="zc-nav-title"><span class="title">Room Amenities</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Dirty_Rooms" href="/root/rooms/rooms-recent-checkout">
                                    <i elname="componentIcon" class="zc-li-outline furniture-table" id="t4212638000000018827"></i>
                                    <div class="zc-nav-title"><span class="title">Dirty Rooms</span></div>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="zc_nav_section">
                        <a id="tab_Configurations" href="#Configurations" class="zc_tab zc_transition selected zc_expand zc_expand_active">
                           <i elname="componentIcon" class="zc-li-outline loader-gear" id="t4212638000000018835"></i>
                           <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Configurations</span></div>
                           <span class="plus"> <i class="fa fa-angle-down"></i> </span>
                        </a>
                        <div class="zc-pane-nav-submenu-wrapper " style="left: 633.141px; top: 75px; height: 405px;">
                           <ul class="zc_tab_comp pane_nav_submenu">
                              <li class="zc_nav_com ">
                                 <a id="Hotel_Info" href="#Report:Hotel_Info">
                                    <i elname="componentIcon" class="zc-li-outline business-laptop-71" id="t4212638000000019003"></i>
                                    <div class="zc-nav-title"><span class="title">Hotel Info</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Staffs" href="/root/configurations/hotel-departments">
                                    <i elname="componentIcon" class="zc-li-outline business-laptop-71" id="t4212638000000019121"></i>
                                    <div class="zc-nav-title"><span class="title">Hotel Departments</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Staffs" href="/root/configurations/hotel-floors">
                                    <i elname="componentIcon" class="zc-li-outline business-laptop-71" id="t4212638000000019121"></i>
                                    <div class="zc-nav-title"><span class="title">Hotel Floors</span></div>
                                 </a>
                              </li>
                              
                              <li class="zc_nav_com ">
                                 <a id="Rate_Types" href="#Report:Rate_Types" class="">
                                    <i elname="componentIcon" class="zc-li-outline tech-2-pci-card" id="t4212638000000019109"></i>
                                    <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Rate Types</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Services" href="/root/configurations/hotel-services" class="selected">
                                    <i elname="componentIcon" class="zc-li-outline travel-church" id="t4212638000000019113"></i>
                                    <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Services</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Taxes" href="/root/configurations/reservation-addons">
                                    <i elname="componentIcon" class="zc-li-outline shopping-credit-card-in" id="t4212638000000019117"></i>
                                    <div class="zc-nav-title"><span class="title">Reservation Addons</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Staffs" href="/root/configurations/staff-list">
                                    <i elname="componentIcon" class="zc-li-outline business-laptop-71" id="t4212638000000019121"></i>
                                    <div class="zc-nav-title"><span class="title">Staffs</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Staffsroles" href="/root/configurations/staff-list">
                                    <i elname="componentIcon" class="zc-li-outline business-laptop-71" id="t4212638000000019121"></i>
                                    <div class="zc-nav-title"><span class="title">Staff Roles</span></div>
                                 </a>
                              </li>

                              <li class="zc_nav_com ">
                                 <a id="Hotel_Info" href="/root/configurations/client-ui-config">
                                    <i elname="componentIcon" class="zc-li-outline business-laptop-71" id="t4212638000000019003"></i>
                                    <div class="zc-nav-title"><span class="title">UI Configurations</span></div>
                                 </a>
                              </li>
                              
                              <li class="zc_nav_com ">
                                 <a id="Tables" href="#Report:Tables">
                                    <i elname="componentIcon" class="zc-li-outline furniture-table" id="t4212638000000019219"></i>
                                    <div class="zc-nav-title"><span class="title">Tables</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Food_Timings1" href="#Report:Food_Timings1">
                                    <i elname="componentIcon" class="zc-li-outline furniture-fridge" id="t4212638000000019263"></i>
                                    <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Food Timings</span></div>
                                 </a>
                              </li>
                              <li class="zc_nav_com ">
                                 <a id="Foods_And_Beverages" href="#Report:Foods_And_Beverages">
                                    <i elname="componentIcon" class="zc-li-outline food-hob" id="t4212638000000019297"></i>
                                    <div class="zc-nav-title" style="width: auto; height: auto;"><span class="title" style="left: 0px; position: relative; width: 100%;">Foods And Beverages</span></div>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                  </ul>
               </div>
            </li>
         </ul>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>

 -->

   
      <div id="roots" class="nk-app-root">
         <div class="nk-main ">
            <div class="nk-sidebar nk-sidebar-fixed is-dark" data-content="sidebarMenu">
               <div class="nk-sidebar-element nk-sidebar-head">
                  <div class="nk-menu-trigger"><a href="javascript:;" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a><a href="javascript:;" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
                  <div class="nk-sidebar-brand"><a href="index-2.html" class="logo-link nk-sidebar-logo"><img class="logo-light logo-img" src="../images/logo.png" srcset="/demo1/images/logo2x.png 2x" alt="logo"><img class="logo-dark logo-img" src="../images/logo-dark.png" srcset="/demo1/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
               </div>
               <div class="nk-sidebar-element nk-sidebar-body">
                  <div class="nk-sidebar-content">
                     <div class="nk-sidebar-menu" data-simplebar>
                        <ul class="nk-menu">
                           <li class="nk-menu-item"><a href="javascript:;" [routerLink]="['/root/frontdesk/dashboard']" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span><span class="nk-menu-text">Dashboard</span></a></li>
                           <li class="nk-menu-item has-sub">
                              <a href="javascript:;" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-calendar-booking-fill"></em></span><span class="nk-menu-text">Bookings</span></a>
                              <ul class="nk-menu-sub">
                                 <li class="nk-menu-item"><a href="javascript:;" [routerLink]="['/root/frontdesk/upcoming-checkins']"  class="nk-menu-link"><span class="nk-menu-text">Pending Bookings</span></a></li>
                                 <li class="nk-menu-item"><a href="javascript:;" [routerLink]="['/root/frontdesk/active-checkins']"  class="nk-menu-link"><span class="nk-menu-text">Checked-In Bookings</span></a></li>
                                 <li class="nk-menu-item"><a href="javascript:;" [routerLink]="['/root/frontdesk/reservation']"  class="nk-menu-link"><span class="nk-menu-text">Add Booking</span></a></li>
                              </ul>
                           </li>
                           <li class="nk-menu-item has-sub">
                              <a href="javascript:;" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span><span class="nk-menu-text">Room</span></a>
                              <ul class="nk-menu-sub">
                                 <li class="nk-menu-item"><a href="/root/rooms/rooms-list" class="nk-menu-link"><span class="nk-menu-text">All Rooms</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/rooms/roomtypes" class="nk-menu-link"><span class="nk-menu-text">Room Types</span></a></li>
                              </ul>
                           </li>

                           <li class="nk-menu-item has-sub">
                              <a href="javascript:;" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-reports"></em></span><span class="nk-menu-text">Reports</span></a>
                              <ul class="nk-menu-sub">
                                 <li class="nk-menu-item"><a href="report-stocks.html" class="nk-menu-link"><span class="nk-menu-text">Stocks</span></a></li>
                                 <li class="nk-menu-item"><a href="report-expenses.html" class="nk-menu-link"><span class="nk-menu-text">Expenses</span></a></li>
                                 <li class="nk-menu-item"><a href="report-booking.html" class="nk-menu-link"><span class="nk-menu-text">Booking</span></a></li>
                              </ul>
                           </li>
                           <li class="nk-menu-item"><a href="customers.html" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span><span class="nk-menu-text">Customers</span></a></li>
                           <li class="nk-menu-item has-sub">
                              <a href="javascript:;" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span><span class="nk-menu-text">Payment</span></a>
                              <ul class="nk-menu-sub">
                                 <li class="nk-menu-item"><a href="payment-methods.html" class="nk-menu-link"><span class="nk-menu-text">Payment Methods</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/service-usage/create-invoice" class="nk-menu-link"><span class="nk-menu-text">Create Invoice</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/service-usage/invoice-list" class="nk-menu-link"><span class="nk-menu-text">Invoice List</span></a></li>
                              </ul>
                           </li>
                           <li class="nk-menu-item has-sub">
                              <a href="javascript:;" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span><span class="nk-menu-text">Services</span></a>
                              <ul class="nk-menu-sub">
                                 <li class="nk-menu-item"><a href="/root/rooms/rooms-list" class="nk-menu-link"><span class="nk-menu-text">All Rooms</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/rooms/roomtypes" class="nk-menu-link"><span class="nk-menu-text">Room Types</span></a></li>
                              </ul>
                           </li>
                           <li class="nk-menu-item has-sub">
                              <a href="javascript:;" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-comments"></em></span><span class="nk-menu-text">Requests Handling</span></a>
                              <ul class="nk-menu-sub">
                                 <li class="nk-menu-item"><a href="/root/request-handling/raised-complaints" class="nk-menu-link"><span class="nk-menu-text">Raised Complaints</span></a></li>
                              </ul>
                           </li>
                           <li class="nk-menu-item has-sub">
                              <a href="javascript:;" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-icon"><em class="icon ni ni-setting-alt-fill"></em></span><span class="nk-menu-text">Bootstraps</span></a>
                              <ul class="nk-menu-sub">
                                 <li class="nk-menu-item"><a href="/root/configurations/create-staff" class="nk-menu-link"><span class="nk-menu-text">Create Staff</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/edit-staff" class="nk-menu-link"><span class="nk-menu-text">Edit Staff</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/staff-list" class="nk-menu-link"><span class="nk-menu-text">Staff List</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/hotel-departments" class="nk-menu-link"><span class="nk-menu-text">Departments</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/hotel-floors" class="nk-menu-link"><span class="nk-menu-text">Floors</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/hotel-create-floors" class="nk-menu-link"><span class="nk-menu-text">New Floor</span></a></li>

                                 <li class="nk-menu-item"><a href="/root/configurations/create-hotel-departments" class="nk-menu-link"><span class="nk-menu-text">New Department</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/hotel-services" class="nk-menu-link"><span class="nk-menu-text">Services</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/reservation-addons" class="nk-menu-link"><span class="nk-menu-text">Addons Configurations</span></a></li>
                                 <li class="nk-menu-item"><a href="/root/configurations/client-ui-config" class="nk-menu-link"><span class="nk-menu-text">Client UI Config</span></a></li>
                              </ul>
                           </li>
                           <li class="nk-menu-item"><a href="support.html" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-chat-circle-fill"></em></span><span class="nk-menu-text">Support</span></a></li>
                           <li class="nk-menu-item"><a href="settings.html" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-setting-alt-fill"></em></span><span class="nk-menu-text">Settings</span></a></li>
                           <li class="nk-menu-heading">
                              <h6 class="overline-title text-primary-alt">Return to</h6>
                           </li>
                           <li class="nk-menu-item"><a href="https://dashlite.net/demo1/index.html" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-dashlite-alt"></em></span><span class="nk-menu-text">Main Dashboard</span></a></li>
                           <li class="nk-menu-item"><a href="https://dashlite.net/demo1/components.html" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-layers-fill"></em></span><span class="nk-menu-text">All Components</span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="nk-wrap ">
               <div class="nk-header nk-header-fixed">
                  <div class="container-fluid">
                     <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ms-n1"><a href="javascript:;" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
                        <div class="nk-header-brand d-xl-none"><a href="https://dashlite.net/demo1/index.html" class="logo-link"><img class="logo-light logo-img" src="../images/logo.png" srcset="/demo1/images/logo2x.png 2x" alt="logo"><img class="logo-dark logo-img" src="../images/logo-dark.png" srcset="/demo1/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
                        <div class="nk-header-news d-none d-xl-block">
                           <div class="nk-news-list">
                              <a class="nk-news-item" href="javascript:;">
                                 <div class="nk-news-icon"><em class="icon ni ni-card-view"></em></div>
                                 <div class="nk-news-text">
                                    <p>Do you know the latest update of 2022? <span> A overview of our is now available on YouTube</span></p>
                                    <em class="icon ni ni-external"></em>
                                 </div>
                              </a>
                           </div>
                        </div>
                        <div class="nk-header-tools">
                           <ul class="nk-quick-nav">
                              <li class="dropdown language-dropdown d-none d-sm-block me-n1">
                                 <a href="javascript:;" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                    <div class="quick-icon border border-light"><img class="icon" src="../images/flags/english-sq.png" alt=""></div>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-end dropdown-menu-s1">
                                    <ul class="language-list">
                                       <li><a href="javascript:;" class="language-item"><img src="../images/flags/english.png" alt="" class="language-flag"><span class="language-name">English</span></a></li>
                                       <li><a href="javascript:;" class="language-item"><img src="../images/flags/spanish.png" alt="" class="language-flag"><span class="language-name">Español</span></a></li>
                                       <li><a href="javascript:;" class="language-item"><img src="../images/flags/french.png" alt="" class="language-flag"><span class="language-name">Français</span></a></li>
                                       <li><a href="javascript:;" class="language-item"><img src="../images/flags/turkey.png" alt="" class="language-flag"><span class="language-name">Türkçe</span></a></li>
                                    </ul>
                                 </div>
                              </li>
                              <li class="dropdown user-dropdown">
                                 <a href="javascript:;" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    <div class="user-toggle">
                                       <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                       <div class="user-info d-none d-md-block">
                                          <div class="user-status">Administrator</div>
                                          <div class="user-name dropdown-indicator">Abu Bin Ishityak</div>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                                    <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                       <div class="user-card">
                                          <div class="user-avatar"><span>AB</span></div>
                                          <div class="user-info"><span class="lead-text">Abu Bin Ishtiyak</span><span class="sub-text">info@softnio.com</span></div>
                                       </div>
                                    </div>
                                    <div class="dropdown-inner">
                                       <ul class="link-list">
                                          <li><a href="javascript:;"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                          <li><a href="settings.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                          <li><a href="settings-activity-log.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                       </ul>
                                    </div>
                                    <div class="dropdown-inner">
                                       <ul class="link-list">
                                          <li><a href="javascript:;"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="dropdown notification-dropdown me-n1">
                                 <a href="javascript:;" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                    <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
                                    <div class="dropdown-head"><span class="sub-title nk-dropdown-title">Notifications</span><a href="javascript:;">Mark All as Read</a></div>
                                    <div class="dropdown-body">
                                       <div class="nk-notification">
                                          <div class="nk-notification-item dropdown-inner">
                                             <div class="nk-notification-icon"><em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em></div>
                                             <div class="nk-notification-content">
                                                <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                <div class="nk-notification-time">2 hrs ago</div>
                                             </div>
                                          </div>
                                          <div class="nk-notification-item dropdown-inner">
                                             <div class="nk-notification-icon"><em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em></div>
                                             <div class="nk-notification-content">
                                                <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                <div class="nk-notification-time">2 hrs ago</div>
                                             </div>
                                          </div>
                                          <div class="nk-notification-item dropdown-inner">
                                             <div class="nk-notification-icon"><em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em></div>
                                             <div class="nk-notification-content">
                                                <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                <div class="nk-notification-time">2 hrs ago</div>
                                             </div>
                                          </div>
                                          <div class="nk-notification-item dropdown-inner">
                                             <div class="nk-notification-icon"><em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em></div>
                                             <div class="nk-notification-content">
                                                <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                <div class="nk-notification-time">2 hrs ago</div>
                                             </div>
                                          </div>
                                          <div class="nk-notification-item dropdown-inner">
                                             <div class="nk-notification-icon"><em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em></div>
                                             <div class="nk-notification-content">
                                                <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                <div class="nk-notification-time">2 hrs ago</div>
                                             </div>
                                          </div>
                                          <div class="nk-notification-item dropdown-inner">
                                             <div class="nk-notification-icon"><em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em></div>
                                             <div class="nk-notification-content">
                                                <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                <div class="nk-notification-time">2 hrs ago</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="dropdown-foot center"><a href="javascript:;">View All</a></div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <router-outlet></router-outlet>
            </div>
         </div>
      </div>
      <ul class="nk-sticky-toolbar">
         <li class="demo-layout"><a class="toggle tipinfo" data-target="demoML" href="javascript:;" title="Main Demo Preview"><em class="icon ni ni-dashlite"></em></a></li>
         <li class="demo-thumb"><a class="toggle tipinfo" data-target="demoUC" href="javascript:;" title="Use Case Concept"><em class="icon ni ni-menu-squared"></em></a></li>
         <li class="demo-settings"><a class="toggle tipinfo" data-target="settingPanel" href="javascript:;" title="Demo Settings"><em class="icon ni ni-setting-alt"></em></a></li>
         <li class="demo-purchase"><a class="tipinfo" target="_blank" href="https://1.envato.market/e0y3g" title="Purchase"><em class="icon ni ni-cart"></em></a></li>
      </ul>

      
      