<div class="nk-content ">
    <div class="container-fluid">
       <div class="nk-content-inner">
          <div class="nk-content-body">
             <div class="nk-block-head">
                <div class="nk-block-between g-3">
                   <div class="nk-block-head-content">
                      <h3 class="nk-block-title page-title">Invoice <strong class="text-primary small">#{{bookingID}}</strong></h3>
                      <div class="nk-block-des text-soft">
                         <ul class="list-inline">
                            <li>Created At: <span class="text-base">{{invoice.created_at}}</span></li>
                         </ul>
                      </div>
                   </div>
                   <div class="nk-block-head-content"><a href="/demo1/hotel/invoice-list.html" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a><a href="/demo1/hotel/invoice-list.html" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a></div>
                </div>
             </div>
             <div class="nk-block">
                <div class="invoice">
                   <div class="invoice-action"><a class="btn btn-icon btn-lg btn-white btn-dim btn-outline-primary" href="/demo1/hotel/invoice-print.html" target="_blank"><em class="icon ni ni-printer-fill"></em></a></div>
                   <div class="invoice-wrap">
                      <div class="invoice-brand text-center"><img src="/demo1/images/logo-dark.png" srcset="/demo1/images/logo-dark2x.png 2x" alt=""></div>
                      <div class="invoice-head">
                         <div class="invoice-contact">
                            <span class="overline-title">Invoice To</span>
                            <div class="invoice-contact-info">
                               <h4 class="title">{{sponsor.firstname}} {{sponsor.lastname}}</h4>
                               <ul class="list-plain">
                                  <li><em class="icon ni ni-map-pin-fill"></em><span>{{sponsor.address1}}</span></li>
                                  <li><em class="icon ni ni-call-fill"></em><span>{{sponsor.phone}}</span></li>
                               </ul>
                            </div>
                         </div>
                         <div class="invoice-desc">
                            <h3 class="title">Invoice</h3>
                            <ul class="list-plain">
                               <li class="invoice-id"><span>Invoice ID</span>:<span>{{bookingID.replaceAll('ROX-','')}}</span></li>
                               <li class="invoice-date"><span>Date</span>:<span>{{currentdate}}</span></li>
                            </ul>
                         </div>
                      </div>
                      <div class="invoice-bills">
                         <div class="table-responsive">
                            <table class="table table-striped">
                               <thead>
                                  <tr>
                                     <th class="w-150px">Item ID</th>
                                     <th>Room No</th>
                                     <th class="w-60">Description</th>
                                     <th>Price</th>
                                     <th>Qty</th>
                                     <th>Prepaid</th>
                                     <th>R-Amount</th>
                                  </tr>
                               </thead>

                               <tbody style="max-height:30vh;overflow-y: auto;">
                                 <tr style="display: flex;align-items: center;justify-content: right;width:64vh;margin-top: 25px;background: transparent!important;" *ngIf="showSpinner"><div class="tiny-spinner"></div></tr>
                                  <tr *ngFor="let bill of serviceBills">
                                     <td>{{bill.itemid}}</td>
                                     <td>#{{bill.room.room_no}}</td>
                                     <td>{{bill.details}}</td>
                                     <td>${{bill.rate}}</td>
                                     <td>x {{bill.qty}}</td>
                                     <td>${{bill.prepaid_amount}}</td>
                                     <td>${{(bill.rate * bill.qty)-bill.prepaid_amount}}</td>
                                  </tr>
                                  
                                  
                               </tbody>
                               <tfoot>
                                  <tr>
                                     <td colspan="4"></td>
                                     <td colspan="2">Subtotal</td>
                                     <td>$435.00</td>
                                  </tr>
                                  <tr>
                                     <td colspan="4"></td>
                                     <td colspan="2">Processing fee</td>
                                     <td>$10.00</td>
                                  </tr>
                                  <tr>
                                     <td colspan="4"></td>
                                     <td colspan="2">TAX</td>
                                     <td>$43.50</td>
                                  </tr>
                                  <tr>
                                     <td colspan="4"></td>
                                     <td colspan="2">Grand Total</td>
                                     <td>$478.50</td>
                                  </tr>
                               </tfoot>
                            </table>
                            
                            <div class="nk-notes ff-italic fs-12px text-soft"> Invoice was created on a computer and is valid without the signature and seal. </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>