<p>rooms works!</p>
<div elname="zc-component-Reservation" class="parent container zcform_Reservation zc-form-fullheight ">
   <div>
      <app-custom-alert
      [show]="showAlert"
      [message]="alertMessage"
      [duration]="alertDuration"
      [backgroundColor]="alertBackgroundColor"
      ></app-custom-alert>
      <div id="Reservation_ZC_LRKT9Y" class="form-outer-wrapper">
         <div class="row">
            <form action="" class="form-table  label-left " name="Staff">
               <div class="form-header flex-end">
                  <span style="text-align: left;" class="form-title col-3" id="formTitleElem">Recently Checked Out Rooms</span>
                  <input type="text" placeholder="Enter either a name, email or phone number to search" class="form-control search-input"/>
               </div>
               <div class="table-wrapper" style="max-height: 50vh;overflow-y: scroll;">
                  <table style="background: white;" class="data-table-init is-seperate table-dark table-striped nk-tb-list">
                     <thead class="table-light">
                        <th class="nk-tb-col">Room No</th>
                        <th class="nk-tb-col">Room Type</th>
                        <th class="nk-tb-col">Bookable</th>
                        <th class="nk-tb-col">Floor Name</th>
                        <th class="nk-tb-col">Floor No</th>
                        <th class="nk-tb-col">Dial No</th>
                        <th class="nk-tb-col">Bed Type</th>
                        <th class="nk-tb-col">Maintainance</th>
                        <th class="nk-tb-col">Action</th>
                     </thead>
                     <tbody>
                        <tr class="nk-tb-item" *ngFor="let room of rooms">
                           <td style="font-weight: 600;font-size:17px;color:black!important;" class="nk-tb-col active-zone pointer"><b>{{room.room_no}}</b></td>
                           <td style="font-weight: 600;font-size:17px;color:black!important;" class="nk-tb-col active-zone pointer"><b>{{room.room_type.name}}</b></td>
                           <td *ngIf="room.is_available" class="nk-tb-col pointer"><b>YES</b></td>
                           <td *ngIf="!room.is_available" class="nk-tb-col pointer"><b>NO</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.floor.floor_name}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.floor.floor_no}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.dial_no}}</b></td>
                           <td class="nk-tb-col pointer"><b>{{room.room_type.bed_type.name}}</b></td>
                           <td class="nk-tb-col pointer"><b>NO</b></td>
                           <td style="width:180px!important" class="nk-tb-col pointer"><button (click)="markAsReady(room.id)" style="font-size:13px!important;width: 90%!important;min-width:90%!important" class="btn btn-black">Mark as Ready</button></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <app-pagination (dataEvent)="receivePaginationData($event)"></app-pagination>
            </form>
         </div>
      </div>
      <app-spinner *ngIf="showSpinner"></app-spinner>
   </div>
</div>